@model MyCarsViewModel

@{
    ViewBag.Title = "My Cars";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h4>My Added Cars</h4>

@if (!Model.AddedCars.Any())
{
    <h2 class="text-center">You have no added cars yet!</h2>
}

<div class="row">
    @foreach (var house in Model.AddedCars)
    {
        @await Html.PartialAsync("~/Views/Shared/_CarPartial.cshtml", house)
    }
</div>

<h4>My Bought Cars</h4>

@if (!Model.BoughtCars.Any())
{
    <h2 class="text-center">You have not bought cars yet!</h2>
}

<div class="row">
    @foreach (var house in Model.BoughtCars)
    {
        @await Html.PartialAsync("~/Views/Shared/_CarPartial.cshtml", house)
    }
</div>