@model RegisterFormModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .register-container {
        margin-top: 50px;
    }

    .register-form {
        background-color: #f9f9f9;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .register-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        text-transform: uppercase;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        border: 2px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        background-color: #f5f5f5;
        transition: border-color 0.3s, background-color 0.3s;
        width: 100%;
    }

        .form-control:focus {
            border-color: #007bff;
            background-color: #fff;
        }

    .form-label {
        font-size: 16px;
        color: #555;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block;
    }

    .btn-register {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 8px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        text-transform: uppercase;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    }

        .btn-register:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        }
</style>

<h1 class="register-title">@ViewData["Title"]</h1>

<div class="container register-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="register-form" id="registerForm" method="post">
                <h2 class="register-title">Create a new account</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="form-label" asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <recaptcha-v3 form-id="registerForm" action="submit" class="btn btn-lg btn-register">Register</recaptcha-v3>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
